@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: #f5f5f5; /* neutral-50 */
    --bg-secondary: #ffffff; /* white */

    --border-primary: rgba(0, 0, 0, 0.1);
    --hover-primary: rgba(0, 0, 0, 0.05);

    --text-heading: #000000; /* black */
    --text-primary: #262626; /* neutral-800 */
    --text-secondary: #525252; /* neutral-600 */

    --disabled-primary: #d4d4d4; /* neutral-300 */
    --disabled-secondary: #737373; /* neutral-500 */
  }

  .dark {
    --bg-primary: #262626; /* neutral-800 */
    --bg-secondary: #262626; /* neutral-800 */

    --border-primary: rgba(255, 255, 255, 0.1);
    --hover-primary: rgba(255, 255, 255, 0.05);

    --text-heading: #ffffff; /* white */
    --text-primary: #e5e5e5; /* neutral-200 */
    --text-secondary: #a3a3a3; /* neutral-400 */

    --disabled-primary: #404040; /* neutral-700 */
    --disabled-secondary: #737373; /* neutral-500 */
  }
}

@layer components {
  .wrapper {
    @apply max-w-6xl w-4/5 mx-auto;
  }
}
