@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: "neutral-50";
  --bg-secondary: "white";

  --border-primary: "rgba(0, 0, 0, 0.1)";
  --hover-primary: "rgba(0, 0, 0, 0.05)";

  --text-heading: "black";
  --text-primary: "neutral-900";
  --text-secondary: "neutral-600";

  --disabled-primary: "neutral-300";
  --disabled-secondary: "neutral-500";
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: "neutral-900";
    --bg-secondary: "neutral-800";

    --border-primary: "rgba(255, 255, 255, 0.1)";
    --hover-primary: "rgba(255, 255, 255, 0.05)";

    --text-heading: "white";
    --text-primary: "neutral-100";
    --text-secondary: "neutral-400";

    --disabled-primary: "neutral-700";
    --disabled-secondary: "neutral-500";
  }
}

@layer components {
  .wrapper {
    @apply max-w-6xl w-4/5 mx-auto;
  }
}
